/* Estilos sesión contenido de la pagina */
body{
    min-height: 100vh;
    background: linear-gradient(#050c09,#41a098) !important;
    width: 100%;
    margin: 0;
}

form{
position: absolute;
left: 79%;
}

/* titulo Ecoverso */
.title{
    margin-top: 100px;
    font-family: fantasy;
}
.title > h2{
    font-size: 80px;
    text-shadow: 20px 10px 10px  #000;
    text-align: center;
}
/*FIN titulo Ecoverso */

/* sección texto informativo, imagen avatar, carrusel de información */
.contenido > .main{
background-color:#122424;
backdrop-filter: blur(10px);
padding: 16px;
border-radius: 5px;
color: #a8ffe2;
}
.contenido{
width: 100%;
height: 100%;
}
.main > .card-text{
font-size: 40px;
font-family: fantasy;
text-align: center;
}
.main > p{
    font-family: cursive !important;
}
/* FIN sección texto informativo, imagen avatar, carrusel de información */

/* pie de pagina */
footer{
padding: 8px;
margin-top: 20px;
width: 100%;
}
.credenciales{
text-align: center;
}
.names{
text-align: center;
justify-content: center;
width: 100%;
margin-top: 10px;
}
.names > a{
text-decoration: none;
margin-left: 8px;
font-size: 20px;
}
.icons{
justify-content: center;
margin-top: 13px;
}
.icons > img{
width: 30px;
height: 30px;
margin-left: 20px;
}
#nombres{
color: rgb(255, 255, 255);
}
/* Fin pie de pagina */

/* imagen de fondo introduccion */
section img{
    position: static;
    width: 100%;
    height: 80vh;
}
/* FIN imagen de fondo introduccion */

/* boton tutorial */
#btn{
    text-decoration: none;
    width: 200px;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
}

#btn:hover{
    background: rgb(121, 215, 166);
    color: #ffffff;
}
/* FIN boton tutorial */

/* seccion tarjetas juegos y encuestas */
.tarjetas{
    display: inline-flex;
}

.tarjetas>section>img{
    height: 300px;
}
/*FIN seccion tarjetas juegos y encuestas */
