body{
    background-image: linear-gradient(to left, #2e9200f5, #000) !important;
    width: 100%;
    margin: 0;
}
form{
position: absolute;
left: 79%;
}
.title{
margin-top: 100px;
font-family: fantasy;
}
.title > h2{
font-size: 80px;
text-shadow: 20px 10px 10px  #000;
}
.title > h2:hover{
transform: scale(1.1);
}
.contenido > .main{
width: 94%;
margin-left: 3%;
background-color: #ffffff;
backdrop-filter: blur(10px);
padding: 16px;
border-radius: 5px;
}
.contenido{
width: 100%;
height: 100%;
margin-top: 10%;
}
.main > .card-text{
font-size: 40px;
font-family: fantasy;
text-align: center;
}
.main > p{
font-family: cursive !important;
}
footer{
padding: 8px;
margin-top: 20px;
width: 100%;
}
.credenciales{
text-align: center;
}
.names{
text-align: center;
justify-content: center;
width: 100%;
margin-top: 10px;
}
.names > a{
text-decoration: none;
margin-left: 8px;
font-size: 20px;
}
.icons{
justify-content: center;
margin-top: 13px;
}
.icons > img{
width: 30px;
height: 30px;
margin-left: 20px;
}
#nombres{
color: rgb(255, 255, 255);
}
.main > h2{
color: rgb(17, 87, 0);
text-shadow: 8px 10px 10px rgb(109, 109, 109);
}

.iframe_mapa{
padding-top: 100px;
padding-left: 90px;
width: 100%;
height: 700px;
border-radius: 12px;
}

.btn-outline-success{
background-color: rgb(93, 255, 201);
color: #000;
border-radius: 18%;
}
