body{
    background-color: rgba(15, 255, 255, 0.966);
    background-image: none;
    color: #ffffff !important;
}
.class1{
    position: relative;
    left: 30%;
    width: 400px;
    height: 350px;
}
h1{
    text-align: center;
}

.nav{
    text-align: center;
    height: 10vh;
    padding-top: 40px;
    width: 85%;
    display: flex;
    justify-content: center;
}
.nav > li{
    position: relative;
    bottom: 15px;
}
.nav > li > a{
    color: #ffffff;
}
.nav > li > a:hover{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #000;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.logo:hover{
    transform: scale(1.1);

}