/* Estilos sesión menú  */

/* barra menu */
.navbar{
  width: 100%;
  height: 85px;
}
.nav{
  text-align: center;
  height: 10vh;
  padding-top: 40px;
  width: 85%;
  display: flex;
  justify-content: center;
}
/*FIN barra menu */

/* Logo Ecoverso menu */
.logo{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.logo:hover{
  transform: scale(1.1);

}
/*FIN logo Ecoverso menu */

/* Textos menu */
.nav-link{
  color: #ffffff !important;
  margin: 5px;
  border-radius: 10px;
}
.nav-link:hover{
  background: #FFF;
  color: #000 !important;
}
/* FIN Textos menu */

/* posicion textos menu */
.navbar-nav{
  display: flex;
  justify-content: center;
  width: 100%;
}

.main{
  min-height: calc(100vh - 149px);
}

/*responsive desing para dispositivos */
/* Entre 0px y 400px */
@media screen and (max-width: 408px) {
  .form-nav{
    display: none !important;
  }
  #navbarScroll{
    transition: .5s;
  }
  .title > h2{
    font-size: 40px !important;
  }
  .names > #nombres{
    font-size: 12px;
  }
  #logomain{
    display: none;
  }
}
.navbar-toggler{
  border: 2px solid #0067ef !important;
}
@media screen and (min-width: 407px) and (max-width: 490px) {
  .form-nav{
    display: none !important;
  }
  #navbarScroll{
    transition: .5s;
  }
  .title > h2{
    font-size: 30px !important;
  }
  .names > #nombres{
    font-size: 12px;
  }
  #logomain{
    display: none;
  }
}
@media screen and (min-width: 491px) and (max-width: 599px) {
  .form-nav{
    display: none !important;
  }
  #navbarScroll{
    transition: .5s;
  }
  .title > h2{
    font-size: 40px !important;
  }
  .names > #nombres{
    font-size: 18px;
  }
  #logomain{
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 739px) {
  .form-nav{
    display: none !important;
  }
  #navbarScroll{
    transition: .2s;
  }
  .title > h2{
    font-size: 50px !important;
  }
  .names > #nombres{
    font-size: 22px;
  }
  #logomain{
    display: none;
  }
}
@media screen and (min-width: 740px) and (max-width: 926px) {
  .form-nav{
    display: none !important;
  }
  #navbarScroll{
    transition: .2s;
  }
  .title > h2{
    font-size: 60px !important;
  }
  .names > #nombres{
    font-size: 28px;
  }
  #logomain{
    display: none;
  }
}
@media screen and (min-width: 927px) and (max-width: 991px) {
  .form-nav{
    display: none !important;
  }
  #logomain{
    display: none;
  }
  
}
@media screen and (min-width: 992px)  {
  #logo{
    display: none;
  }
}